{% extends 'base.html.twig' %}

{% block title %}New Produits{% endblock %}

{% block body %}
    <h1>Création d'un nouveau Produit</h1>
<div class="form-control" style="width: 50%;">

    {{ include('produits/_form.html.twig') }}
</div>


    <a href="{{ path('app_produits_index') }}">back to list</a>

{% endblock %}
