{% extends 'base.html.twig' %}

{#{% block title %}New Produits{% endblock %}#}

{% block body %}


<h1>Création d'un nouveau Produit</h1>

    <a href="{{ path('app_produits_index') }} " class="btn btn-dark" >Voir Detail</a>
    <br><br>
        {{ include('produits/_form.html.twig') }}




{% endblock %}
