{% extends 'base.html.twig' %}

{% block title %}New Categories{% endblock %}

{% block body %}
<div  style="position: relative; left: 5%" >
    <h1>Create new Categories</h1>

        <a href="{{ path('app_categories_index') }} " class="btn btn-dark" >Voir Detail</a>

    <br><br>
    <div class="form">
    {{ include('categories/_form.html.twig') }}
    </div>
</div>

{% endblock %}
