{% include 'home/index.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

{#    {% include 'produits/index.html.twig' %}#}


    <footer>
        <p>&copy; {{ "now"|date("Y") }} Mon Application</p>
    </footer>

{% endblock %}